@model Entity.Concrete.Heading
@{
    ViewBag.Title = "NewHeading";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

@using (Html.BeginForm("NewHeading", "WriterPanel", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Başlık Adı");
        @Html.TextBoxFor(p => p.HeadingName, new { @class = "form-control" })
        @*@Html.ValidateFor(p => p.HeadingName);*@
            
        @Html.Label("Kategori Adı");
        @Html.DropDownListFor(p => p.CategoryId, (List<SelectListItem>)ViewBag.valuecategory,
        new { @class = "form-control" })
        <br />
        <button class="btn btn-info">Başlık Ekle</button>

    </div>



}

